@model ModelValidation.Models.Appointment

@{
   ViewBag.Title = "makeBooking";
   ViewBag.Title2 = "makeBooking";
   var x = ViewData;
}

<h4>Book an appointment</h4>

@using (Html.BeginForm()) {
   @Html.ValidationSummary()
   <p>Your name: @Html.EditorFor(m => m.ClientName)</p>
   <p>Appointment Date: @Html.EditorFor(m => m.Date)</p>
   <p>@Html.EditorFor(m => m.TermsAccepted) I accept the terms &amp; conditions</p>
   @*<p>@Html.EditorFor(m => m.TermsAccepted2) 2:I accept the terms &amp; conditions</p>*@
   <input type="submit" value="Make Booking" />
}

