@using HelperMethods.Models
@model string

@{
   ViewBag.Title = "getPeople";
   Layout = "~/Views/Shared/_Layout.cshtml";
   AjaxOptions ajaxOpts = new AjaxOptions() {
      UpdateTargetId = "tableBody",
      InsertionMode = InsertionMode.Replace,
      LoadingElementId = "loading",
      LoadingElementDuration = 1000,
      Confirm = "Do you wish to request new data?",
      Url = Url.Action("getPeopleData")
   };
}

<h2>getPeople</h2>

<div id="loading" class="load" style="display:none">
   <p>Loading ...</p>
</div>
<table>
   <thead><tr><th>First</th><th>Last</th><th>Role</th></tr></thead>
   <tbody id="tableBody">
      @Html.Action("getPeopleData", new { selectedRole = Model})
      @*@foreach (Person p in Model) {
         <tr>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            <td>@p.Role</td>
         </tr>
      }*@
   </tbody>
</table>

@using (Ajax.BeginForm("getPeopleData",ajaxOpts)) {
   <div>
      @Html.DropDownList("selectedRole",new SelectList(new[] {"All"}.Concat(Enum.GetNames(typeof(Role)))))
      <button type="submit">Submit</button>
   </div>
}

@*Ajax enabled link*@

<div>
   <div class="ajaxLink">
      @Ajax.ActionLink("All", "getPeopleData", new { selectedRole = "All" }, new AjaxOptions { UpdateTargetId = "tableBody" })
   </div>
   @foreach (string role in Enum.GetNames(typeof(Role))) {
      <div class="ajaxLink">
         @*@Ajax.ActionLink(role,"getPeopleData",new { selectedRole = role},new AjaxOptions { UpdateTargetId = "tableBody"})*@
         @Ajax.ActionLink(role,"getPeopleData",
       "getPeopleData", new { selectedRole = role },
       new AjaxOptions { UpdateTargetId = "tableBody",Url=Url.Action("getPeopleData",new {selectedRole=role }) })
      </div>
   }
</div> 


@*@using (Html.BeginForm()) {
   <div>
      @Html.DropDownList("selectedRole", new SelectList(new[] { "All"}.Concat(Enum.GetNames(typeof(Role)))))
      <button type="submit">Submit</button> 
   </div>
}*@

